life_expectancy_using_AutoAI_flow.json
[{"id":"e245ffaa.ef64c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24c7b035.417ae","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Life Expectancy","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"793be6b4.0b6688","type":"ui_tab","z":"","name":"Life Expectancy using AutoAI","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bb88ab85.aaed38","type":"ui_group","z":"","name":"","tab":"793be6b4.0b6688","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"e245ffaa.ef64c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":120,"wires":[]},{"id":"bc6efbd1.21b478","type":"ui_form","z":"e245ffaa.ef64c","name":"","label":"","group":"bb88ab85.aaed38","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"stat","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percentexp","type":"number","required":true,"rows":null},{"label":"Hepatitis B ","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"meas","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-five Deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure ","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thinness 10-19 yrs","value":"thin1","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 yrs","value":"thin5","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","stat":"","am":"","id":"","alc":"","percentexp":"","hb":"","meas":"","bmi":"","ufd":"","polio":"","te":"","dip":"","hiv":"","gdp":"","pop":"","thin1":"","thin5":"","icr":"","school":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":240,"wires":[["5eed75bd.70ea8c"]]},{"id":"5eed75bd.70ea8c","type":"function","z":"e245ffaa.ef64c","name":"function1","func":"global.set('country', msg.payload.country);\nglobal.set('year', msg.payload.year);\nglobal.set('stat', msg.payload.stat);\nglobal.set('am', msg.payload.am);\nglobal.set('id', msg.payload.id);\nglobal.set('alc', msg.payload.alc);\nglobal.set('percentexp', msg.payload.percentexp);\nglobal.set('hb', msg.payload.hb);\nglobal.set('meas', msg.payload.meas);\nglobal.set('bmi', msg.payload.bmi);\nglobal.set('ufd', msg.payload.ufd);\nglobal.set('polio', msg.payload.polio);\nglobal.set('te', msg.payload.te);\nglobal.set('dip', msg.payload.dip);\nglobal.set('hiv', msg.payload.hiv);\nglobal.set('gdp', msg.payload.gdp);\nglobal.set('pop', msg.payload.pop);\nglobal.set('thin1', msg.payload.thin1);\nglobal.set('thin5', msg.payload.thin5);\nglobal.set('icr', msg.payload.icr);\nglobal.set('school', msg.payload.school);\nvar apikey = '06_uP9IfVE3-mPmHYQJN-l5LFXxDlMGvVUDj1L-e5lsi';\nmsg.headers = {'content-type':'application/x-www-form-urlencoded', 'Accept':'application/json'};\nmsg.payload = {'grant_type':'urn:ibm:params:oauth:grant-type:apikey', 'apikey':apikey};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["93c4dc27.b9997"]]},{"id":"93c4dc27.b9997","type":"http request","z":"e245ffaa.ef64c","name":"request1","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":240,"wires":[["470afb7f.d1f394"]]},{"id":"470afb7f.d1f394","type":"function","z":"e245ffaa.ef64c","name":"function2","func":"var country = global.get('country');\nvar year = global.get('year');\nvar stat = global.get('stat');\nvar am = global.get('am');\nvar id = global.get('id');\nvar alc = global.get('alc');\nvar percentexp = global.get('percentexp');\nvar hb = global.get('hb');\nvar meas = global.get('meas');\nvar bmi = global.get('bmi');\nvar ufd = global.get('ufd');\nvar polio = global.get('polio');\nvar te = global.get('te');\nvar dip = global.get('dip');\nvar hiv = global.get('hiv');\nvar gdp = global.get('gdp');\nvar pop = global.get('pop');\nvar thin1 = global.get('thin1');\nvar thin5 = global.get('thin5');\nvar icr = global.get('icr');\nvar school = global.get('school');\nvar token = msg.payload.access_token;\nvar instance_id = \"e7e7a66c-3d70-4aac-bf25-92c675fa6c48\";\nmsg.headers = {\n    \"Content-type\":'application/json',\n    \"Authorization\":'Bearer'+token,\n    \"ML-Instance-ID\": instance_id\n};\nmsg.payload = {\n    \"input_data\":[{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],\n\"values\": [[country, year, stat, am, id, alc, percentexp, hb, meas, bmi, ufd, polio, te, dip, hiv, gdp, pop, thin1, thin5, icr, school]]}]\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":60,"wires":[["bfd32778.c106e8"]]},{"id":"bfd32778.c106e8","type":"http request","z":"e245ffaa.ef64c","name":"request2","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/d33954ef-3c56-4887-a01e-58780a90c7e4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":240,"wires":[["6295d2b2.7ede6c","c7eb976e.5c1628"]]},{"id":"6295d2b2.7ede6c","type":"function","z":"e245ffaa.ef64c","name":"function3","func":"msg.payload = msg.payload.predictions[0].values[0][0].toFixed(2) + ' years';\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":60,"wires":[["f2f2649a.0d0d98","9afadb4c.341298","d13385f9.4cebe8"]]},{"id":"9afadb4c.341298","type":"ui_text","z":"e245ffaa.ef64c","group":"bb88ab85.aaed38","order":2,"width":0,"height":0,"name":"Life Expectancy","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":280,"wires":[]},{"id":"628af78f.f93048","type":"inject","z":"e245ffaa.ef64c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["5eed75bd.70ea8c"]]},{"id":"d13385f9.4cebe8","type":"ui_gauge","z":"e245ffaa.ef64c","name":"Life Expectancy","group":"bb88ab85.aaed38","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#2dbed7","#127582","#072955"],"seg1":"","seg2":"","x":1180,"y":200,"wires":[]},{"id":"c7eb976e.5c1628","type":"debug","z":"e245ffaa.ef64c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":360,"wires":[]}]