life_expectancy_using_python_flow.json
[{"id":"2358a0ff.8a347","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66583cc.5dfd2c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#7003c9","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#7003c9","edited":true},"page-titlebar-backgroundColor":{"value":"#7003c9","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#971dfc","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#7003c9","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Life Expectancy using Python","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"20f2d093.f139d","type":"ui_group","z":"","name":"Life expectancy","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"90a02c54.6cfab","type":"ui_tab","z":"","name":"Life Expectancy using Python","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"14d4603d.cfd43","type":"ui_group","z":"","name":"","tab":"90a02c54.6cfab","order":1,"disp":true,"width":"6","collapse":false},{"id":"348a8f62.c877d","type":"debug","z":"2358a0ff.8a347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":120,"wires":[]},{"id":"3e70e43d.1dc59c","type":"ui_form","z":"2358a0ff.8a347","name":"","label":"","group":"14d4603d.cfd43","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"stat","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percentexp","type":"number","required":true,"rows":null},{"label":"Hepatitis B ","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"meas","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-five Deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure ","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thinness 10-19 yrs","value":"thin1","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 yrs","value":"thin5","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","stat":"","am":"","id":"","alc":"","percentexp":"","hb":"","meas":"","bmi":"","ufd":"","polio":"","te":"","dip":"","hiv":"","gdp":"","pop":"","thin1":"","thin5":"","icr":"","school":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":240,"wires":[["869ea319.42fbc"]]},{"id":"869ea319.42fbc","type":"function","z":"2358a0ff.8a347","name":"function1","func":"//global.set('country', msg.payload.country);\n//global.set('year', msg.payload.year);\n//global.set('stat', msg.payload.stat);\nglobal.set('am', msg.payload.am);\nglobal.set('id', msg.payload.id);\nglobal.set('alc', msg.payload.alc);\nglobal.set('percentexp', msg.payload.percentexp);\nglobal.set('hb', msg.payload.hb);\nglobal.set('meas', msg.payload.meas);\nglobal.set('bmi', msg.payload.bmi);\nglobal.set('ufd', msg.payload.ufd);\nglobal.set('polio', msg.payload.polio);\nglobal.set('te', msg.payload.te);\nglobal.set('dip', msg.payload.dip);\nglobal.set('hiv', msg.payload.hiv);\nglobal.set('gdp', msg.payload.gdp);\nglobal.set('pop', msg.payload.pop);\nglobal.set('thin1', msg.payload.thin1);\nglobal.set('thin5', msg.payload.thin5);\nglobal.set('icr', msg.payload.icr);\nglobal.set('school', msg.payload.school);\nvar apikey = '06_uP9IfVE3-mPmHYQJN-l5LFXxDlMGvVUDj1L-e5lsi';\nmsg.headers = {'content-type':'application/x-www-form-urlencoded', 'Accept':'application/json'};\nmsg.payload = {'grant_type':'urn:ibm:params:oauth:grant-type:apikey', 'apikey':apikey};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["4de745ea.c4d5ec"]]},{"id":"4de745ea.c4d5ec","type":"http request","z":"2358a0ff.8a347","name":"request1","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":240,"wires":[["40f56f17.d8e32"]]},{"id":"40f56f17.d8e32","type":"function","z":"2358a0ff.8a347","name":"function2","func":"//var country = global.get('country');\n//var year = global.get('year');\n//var stat = global.get('stat');\nvar am = global.get('am');\nvar id = global.get('id');\nvar alc = global.get('alc');\nvar percentexp = global.get('percentexp');\nvar hb = global.get('hb');\nvar meas = global.get('meas');\nvar bmi = global.get('bmi');\nvar ufd = global.get('ufd');\nvar polio = global.get('polio');\nvar te = global.get('te');\nvar dip = global.get('dip');\nvar hiv = global.get('hiv');\nvar gdp = global.get('gdp');\nvar pop = global.get('pop');\nvar thin1 = global.get('thin1');\nvar thin5 = global.get('thin5');\nvar icr = global.get('icr');\nvar school = global.get('school');\nvar token = msg.payload.access_token;\nvar instance_id = \"e7e7a66c-3d70-4aac-bf25-92c675fa6c48\";\nmsg.headers = {\n    \"Content-type\":'application/json',\n    \"Authorization\":'Bearer'+token,\n    \"ML-Instance-ID\": instance_id\n};\nmsg.payload = {\n\n            \"fields\": \n            [\"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],\n             \"values\": \n             [\n                 [am, id, alc, percentexp, hb, meas, bmi, ufd, polio, te, dip, hiv, gdp, pop, thin1, thin5, icr, school]\n              ]\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":60,"wires":[["2359ea5d.743286"]]},{"id":"2359ea5d.743286","type":"http request","z":"2358a0ff.8a347","name":"request2","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/e7e7a66c-3d70-4aac-bf25-92c675fa6c48/deployments/bc96c1b7-e226-4b7d-b7fa-2305ce246932/online","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":240,"wires":[["15cec6ed.af1629","a775e016.ce7a7"]]},{"id":"15cec6ed.af1629","type":"function","z":"2358a0ff.8a347","name":"function3","func":"return msg;","outputs":1,"noerr":0,"x":920,"y":60,"wires":[["348a8f62.c877d","50daa4cd.4a4bbc","110da595.d94b1a"]]},{"id":"50daa4cd.4a4bbc","type":"ui_text","z":"2358a0ff.8a347","group":"14d4603d.cfd43","order":2,"width":0,"height":0,"name":"Life Expectancy","label":"Life Expectancy","format":"{{msg.payload.values[0][0].toFixed(2) + '  years'}}","layout":"row-spread","x":1180,"y":280,"wires":[]},{"id":"3a2c9aff.3787e6","type":"inject","z":"2358a0ff.8a347","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["869ea319.42fbc"]]},{"id":"a775e016.ce7a7","type":"debug","z":"2358a0ff.8a347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":360,"wires":[]},{"id":"110da595.d94b1a","type":"ui_gauge","z":"2358a0ff.8a347","name":"LE Gauge","group":"14d4603d.cfd43","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{msg.payload.values[0][0].toFixed(2)}}","min":0,"max":"100","colors":["#984ff3","#852fee","#7913f6"],"seg1":"","seg2":"","x":1159.7999877929688,"y":195,"wires":[],"l":false}]